.buttonDownload {
	display: inline-block;
	position: relative;
	padding: 10px 25px;
	padding: 0px 10px;
  
	background-color: #4CC713;
	color: white;
  
	font-family: sans-serif;
	text-decoration: none;
	font-size: 0.9em;
	text-align: center;
	text-indent: 15px;
}

.buttonDownload:hover {
	background-color: #333;
	color: white;
}

.buttonDownload:before, .buttonDownload:after {
	content: ' ';
	display: block;
	position: absolute;
	left: 15px;
	top: 52%;
}

/* Download box shape  */
.buttonDownload:before {
	width: 10px;
	height: 2px;
	border-style: solid;
	border-width: 0 2px 2px;
}

/* Download arrow shape */
.buttonDownload:after {
	width: 0;
	height: 0;
	margin-left: 3px;
	margin-top: -7px;
  
	border-style: solid;
	border-width: 4px 4px 0 4px;
	border-color: transparent;
	border-top-color: inherit;
	
	animation: downloadArrow 2s linear infinite;
	animation-play-state: paused;
}

.buttonDownload:hover:before {
	border-color: #4CC713;
}

.buttonDownload:hover:after {
	border-top-color: #4CC713;
	animation-play-state: running;
}

/* keyframes for the download icon anim */
@keyframes downloadArrow {
	/* 0% and 0.001% keyframes used as a hackish way of having the button frozen on a nice looking frame by default */
	0% {
		margin-top: -7px;
		opacity: 1;
	}
	
	0.001% {
		margin-top: -15px;
		opacity: 0;
	}
	
	50% {
		opacity: 1;
	}
	
	100% {
		margin-top: 0;
		opacity: 0;
	}
}

h3{
margin:5px;
}

button{
float:left;
}

h2:hover .overlay {
display:block;
background-color:white;
opacity:0.75;
}

.formLayout
{
background-color: #f3f3f3;
border: solid 1px #a1a1a1;
padding: 10px;
width: 940px;
margin-left: auto;
margin-right:auto;
}

.resultLayout
{
padding: 10px;
width: 880px;
margin-left: auto;
margin-right:auto;
}

.push_wrapper
{
margin:0 auto;
overflow:hidden;
}

.push_wrapper>div{
display:inline-block;
vertical-align:middle;
width:49%;
}

.left{
float:left;
}

.right{
float:right;
}

prebox {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string     { font-family:courier; color: lightgreen; }
.number     { font-family:courier; color: orange; }
.boolean    { font-family:courier; color: lightblue; }
.null       { font-family:courier; color: magenta; }
.key        { font-family:courier; color: cyan; }

.input {
font-family: courier;
}

.input-dark {
    background-color:#555;
    color: #fff;
}

.formLayout label
{
text-align: right;
padding-right: 20px;
}

br
{
clear: left;
}

.onlythree {     
width: 50px;    
border: 0;    
}    

.modal {
display:    none;
position:   fixed;
z-index:    1000;
top:        0;
left:       0;
height:     100%;
width:      100%;
background: rgba( 255, 255, 255, .8 )
url('http://i.stack.imgur.com/FhHRx.gif')
50% 50%
no-repeat;
}

/* When the body has the loading class, we turn
the scrollbar off with overflow:hidden */
body.loading {
overflow: hidden;
}

/* Anytime the body has the loading class, our
modal element will be visible */
body.loading .modal {
display: block;
}

dialog {
    visibility: hidden;
    transform: scale(0.1);
    transition: transform 200ms;
}

dialog.dialog-scale {
    visibility: visible;
    transform: scale(1);
}



/*
Help dialog CSS 
*/
.ui-widget.helpInfo-dialog {
font-family:    Verdana,Arial,sans-serif;
font-size:      .8em;
}

.ui-widget-content.helpInfo-dialog {
background:     #F9F9F9;
border:         1px solid #90d93f;
color:          #222222;
}

.ui-dialog.helpInfo-dialog {
left:           0;
outline:        0 none;
padding:        0 !important;
position:       absolute;
top:            0;
}

.ui-dialog.helpInfo-dialog .ui-dialog-content {
background:     none repeat scroll 0 0 transparent;
border:         0 none;
overflow:       auto;
position:       relative;
padding:        20;
margin:         0;
}

.ui-dialog.helpInfo-dialog .ui-widget-header {
background:     #b0de78;
border:         0;
color:          #fff;
font-weight:    normal;
}

.ui-dialog.helpInfo-dialog .ui-dialog-titlebar {
padding:        0.1em .5em;
position:       relative;
font-size:      1em;
}

/*
config pfdcm CSS 
*/
.ui-widget.config_pfdcm-dialog {
font-family:    Verdana,Arial,sans-serif;
font-size:      .8em;
}

.ui-widget-content.config_pfdcm-dialog {
/* background:     #F9F9F9;
color:          #222222; */
/* background:     #252a33; */
background:     #353a43;
color:          #fff;
border:         1px solid #90d93f;
border:         0px solid #90d93f;
}
    
.ui-dialog.config_pfdcm-dialog {
left:           0;
outline:        0 none;
padding:        0 !important;
position:       absolute;
top:            0;
}

.ui-dialog.config_pfdcm-dialog .ui-dialog-content {
background:     none repeat scroll 0 0 transparent;
border:         0 none;
overflow:       auto;
position:       relative;
padding:        20;
margin:         0;
}

.ui-dialog.config_pfdcm-dialog .ui-widget-header {
/* background:     #b0de78; */
text-align:     center;
background:     #454a53;
border:         0;
color:          #fff;
font-weight:    normal;
font-family:    'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
}

.ui-dialog.config_pfdcm-dialog .ui-dialog-titlebar {
padding:        0.1em .5em;
position:       relative;
font-size:      1em;
}

/*
config PACS CSS 
*/
.ui-widget.config_PACS-dialog {
font-family:    Verdana,Arial,sans-serif;
font-size:      .8em;
}

.ui-widget-content.config_PACS-dialog {
background:     #F9F9F9;
border:         1px solid #90d93f;
color:          #222222;
background:     #353a43;
color:          #fff;
border:         1px solid #90d93f;
border:         0px solid #90d93f;
}
    
.ui-dialog.config_PACS-dialog {
left:           0;
outline:        0 none;
padding:        0 !important;
position:       absolute;
top:            0;
}

.ui-dialog.config_PACS-dialog .ui-dialog-content {
background:     none repeat scroll 0 0 transparent;
border:         0 none;
overflow:       auto;
position:       relative;
padding:        20;
margin:         0;
}

.ui-dialog.config_PACS-dialog .ui-widget-header {
text-align:     center;
background:     #b0de78;
background:     #454a53;
border:         0;
color:          #fff;
font-weight:    normal;
font-family:    'Fira Mono', Consolas, Menlo, Monaco, 'Courier New', Courier, monospace;
}

.ui-dialog.config_PACS-dialog .ui-dialog-titlebar {
padding:        0.1em .5em;
position:       relative;
font-size:      1em;
}
    
.button-xsmall {
    font-size: 70%;
}

.button-xxsmall {
    font-size: 10%;
    padding: .1em .1em;
}

.button-loginStatus-loggedIn,
.button-loginStatus-loggedOut,
.button-help {
    color: white;
    /*border-radius: 4px;*/
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-red {
    background: rgb(202, 25, 25); /* this is a red */
}

.button-login {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-logout {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-loginStatus-loggedOut {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-loginStatus-loggedIn {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-termynal-clear {
    background: rgb(223, 117, 20); /* this is an orange */
};

.button-jsonHighlight-on {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-jsonHighlight-off {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-useFileDB-on {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-useFileDB-off {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-createNewDB-on {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-createNewDB-off {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-createNewDB-feedsLabel {
    background: rgb(28, 184, 65); /* this is a green */
}


.button-REST-delete {
    background: rgb(223, 27, 15); /* this is an orange */
}

.button-REST-run {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-REST-clear {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-help {
    background: rgb(66, 184, 221); /* this is a light blue */
    float: right;
}

.button-reset {
    background: rgb(223, 117, 20); /* this is an orange */
    display: inline-block;
    position: relative;
    left: 45%;
    /*float: right;*/
}

.button-xsmall {
    font-size: 70%;
}

.button-loginStatus-loggedIn,
.button-loginStatus-loggedOut,
.button-help {
    color: white;
    /*border-radius: 4px;*/
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-login {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-logout {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-loginStatus-loggedOut {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-loginStatus-loggedIn {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-jsonHighlight-on {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-jsonHighlight-off {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-useFileDB-on {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-useFileDB-off {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-createNewDB-on {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-createNewDB-off {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-createNewDB-feedsLabel {
    background: rgb(28, 184, 65); /* this is a green */
}


.button-REST-delete {
    background: rgb(223, 27, 15); /* this is an orange */
}

.button-REST-run {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-REST-clear {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-help {
    background: rgb(66, 184, 221); /* this is a light blue */
    float: right;
}

.button-help-green {
    color: white;
    /*border-radius: 4px;*/
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65); /* this is a green */
    float: right;
}

.button-reset {
    background: rgb(223, 117, 20); /* this is an orange */
    display: inline-block;
    position: relative;
    left: 45%;
    /*float: right;*/
}



html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.cf:before, .cf:after {
    display: table;
    content: ' ';
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    color: #555;
    background-color: #f5f7fa;
}
img {
    max-width: 100%;
    height: auto;
}
figure {
    margin: 0;
    padding: 10px;
}
figure a {
    display: block;
}
mark {
    padding: 0 5px;
    background-color: #ddd;
}
::backdrop {
    background-color: rgba(0,0,0,0.5);
}
.btn {
    padding: 10px 15px;
    cursor: pointer;
    color: #555;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    background-color: #f3f3f3;
}
.btn.disabled {
    cursor: not-allowed;
    color: #ddd;
    border-color: #ddd;
}
.btn-group {
    padding: 15px 20px;
    text-align: right;
    background-color: #f5f6f8;
}
.btn-primary {
    color: #fff;
    border-color: #0066c0;
    background-color: #0074d9;
}
.btn-primary:hover {
    background-color: #0066c0;
}
.btn-danger {
    color: #fff;
    border-color: #ab3326;
    background-color: #c0392b;
}
.btn-danger:hover {
    background-color: #ab3326;
}
.btn-cancel {
    color: #999;
    border-color: #ddd;
}
.btn-cancel:hover {
    background-color: #e6e6e6;
}
.site-header {
    text-align: center;
    background-color: #196e76;
}
.site-header h1, .site-header a {
    padding: 15px;
    text-transform: uppercase;
    color: #fff;
}
.site-header h1 {
    font-size: 18px;
    margin: 0;
}
.site-header a {
    font-size: 14px;
    font-weight: 300;
    display: block;
    text-decoration: none;
    background-color: #10474c;
}
.boxed-group {
    width: 90%;
    max-width: 680px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}
.boxed-group h3, .boxed-group h4 {
    font-weight: 400;
    margin: 0;
}
.boxed-group h3 {
    padding: 12px 20px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #434a54;
}
.boxed-group h4 {
    font-size: 18px;
    color: #555;
}
.boxed-group section {
    padding: 30px 20px;
}
.boxed-group section:first-child {
    border-bottom: 1px solid #e6e9ed;
}
.boxed-group section:only-of-type, .boxed-group section:only-child {
    border-bottom: 0;
}
.boxed-group .boxed-group-inner {
    font-size: 14px;
    font-weight: 300;
    color: #aaa;
    border-width: 0 1px 1px;
    border-style: solid;
    border-color: #e6e9ed;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #fff;
}
.boxed-group .btn {
    float: right;
    margin-left: 20px;
}
.site-dialog {
    overflow: hidden;
    width: 95%;
    max-width: 500px;
    padding: 0;
    border-width: 0;
    border-radius: 5px;
    background: transparent;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    visibility: hidden;
    transform: scale(0.1);
    transition: transform 200ms;
}
.site-dialog.dialog-scale {
    visibility: visible;
    transform: scale(1);
}
.site-dialog h1 {
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    color: #fff;
}
.site-dialog p {
    font-size: 14px;
}
.site-dialog .dialog-header {
    padding: 12px 20px;
    background-color: #434a54;
}
.site-dialog .dialog-content {
    padding: 30px 20px;
    color: #555;
    background-color: #fff;
}
.site-dialog .dialog-content p:last-of-type, .site-dialog .dialog-content p:only-child {
    margin-top: 0;
    margin-bottom: 0;
}
